esphome/.gitignore
esphome/.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
secrets.yaml


.storage/*
custom_components/*
home-assistant.*
home-assistant_v2.*
.vscode/*
*.pyc
appdaemon/
blueprints/
passwd.dat
